JAX-WS-SOAP/src/client/car.wsdl

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://service/" name="CarServiceImplService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://service/"
				schemaLocation="http://localhost:8085/ws/car?xsd=1" />
		</xsd:schema>
	</types>
	<message name="addCar">
		<part name="arg0" type="tns:car" />
	</message>
	<message name="addCarResponse">
		<part name="return" type="xsd:boolean" />
	</message>
	<message name="deleteCar">
		<part name="arg0" type="xsd:int" />
	</message>
	<message name="deleteCarResponse">
		<part name="return" type="xsd:boolean" />
	</message>
	<message name="getCar">
		<part name="arg0" type="xsd:int" />
	</message>
	<message name="getCarResponse">
		<part name="return" type="tns:car" />
	</message>
	<message name="getAllCars" />
	<message name="getAllCarsResponse">
		<part name="return" type="tns:carArray" />
	</message>
	<portType name="CarService">
		<operation name="addCar">
			<input wsam:Action="http://service/CarService/addCarRequest"
				message="tns:addCar" />
			<output wsam:Action="http://service/CarService/addCarResponse"
				message="tns:addCarResponse" />
		</operation>
		<operation name="deleteCar">
			<input wsam:Action="http://service/CarService/deleteCarRequest"
				message="tns:deleteCar" />
			<output
				wsam:Action="http://service/CarService/deleteCarResponse"
				message="tns:deleteCarResponse" />
		</operation>
		<operation name="getCar">
			<input wsam:Action="http://service/CarService/getCarRequest"
				message="tns:getCar" />
			<output wsam:Action="http://service/CarService/getCarResponse"
				message="tns:getCarResponse" />
		</operation>
		<operation name="getAllCars">
			<input
				wsam:Action="http://service/CarService/getAllCarsRequest"
				message="tns:getAllCars" />
			<output
				wsam:Action="http://service/CarService/getAllCarsResponse"
				message="tns:getAllCarsResponse" />
		</operation>
	</portType>
	<binding name="CarServiceImplPortBinding" type="tns:CarService">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
		<operation name="addCar">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://service/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://service/" />
			</output>
		</operation>
		<operation name="deleteCar">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://service/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://service/" />
			</output>
		</operation>
		<operation name="getCar">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://service/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://service/" />
			</output>
		</operation>
		<operation name="getAllCars">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://service/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://service/" />
			</output>
		</operation>
	</binding>
	<service name="CarServiceImplService">
		<port name="CarServiceImplPort"
			binding="tns:CarServiceImplPortBinding">
			<soap:address location="http://localhost:8085/ws/car" />
		</port>
	</service>
</definitions>